body{
    font-family: Verdana, Arial, sans-serif;
    background-color: #99c2ff;
    margin-left: 200px;
    margin-right: 200px;
}
h1{
    padding:60px;
    font-size: 70px;
    background-color: azure;
}